body {
    color: #332c2c;
    background-color: #f5f5f5;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
}

h1,
h2,
a {
    color: #2e8787;
    font-family: Arial, sans-serif;
}

h2 {
    text-transform: uppercase;
    border-bottom: 4px solid #46c4c4;
    width: max-content;
    margin-top: 0;
}

.foto-uvodni {
    width: 300px;
    filter: grayscale(0.3);
    float: right;
    margin-left: 30px;
    margin-bottom: 50px;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid #2e8787;
}

section {
    padding: 20px 15%;
}

nav li {
    display: inline-block;
}

nav ul {
    margin: 0;
}

nav {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #257070;
    border-top: 4px solid #46c4c4;
    border-bottom: 4px solid #46c4c4;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 50px;
}

nav a:hover,
nav a:focus,
nav a:active,
.vybrane {
    background-color: #46c4c4;
}

footer {
    clear: both;
    background-color: #4f4f4f;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.odkaz-paticka {
    color: #46c4c4; 
}

.tlacitko {
    padding-top: 20px;
}

.tlacitko a {
    background-color: #257070;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
}

.tlacitko a:hover,
.tlacitko a:focus,
.tlacitko a:active {
    background-color: #46c4c4;
}

header {
    background-color: #a1c9c9;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

header h1 {
    color: white;
    font-style: italic;
    padding-top: 10px;
    font-size: 30px;
    text-shadow: 0 1px 1px black;
    border-bottom: 3px solid #f2c306;
    box-shadow: 0 1px 0 black;
}

div {
    display: flex;
}

div p {
    padding-top: 20px;
    font-weight: bold;
    text-shadow: 0 1px 0px black;

}

div span {
    font-weight: normal;
    font-size: 0.9em;
}

div img {
    width: 90px;
    height: 90px;
    padding-top: 12px;
}